<div class="page">
  <context-consumer
    consume="apiError toggleApiPath toggleApiError"
  ></context-consumer>
  <div class="headContainer">
    <h1 class="header">{{ title }}</h1>
    <button class="button head" [disabled]="apiError" (click)="handleToCreate()">
      New Issue
    </button>
  </div>
  <div class="spinnerContainer">
    <div *ngIf="isLoading; then loading; else loaded"></div>
    <ng-template #loading>
      <ngx-spinner
        class="spinner"
        [fullScreen]="false"
        bdColor="rgba(51,51,51,0.0)"
        size="medium"
        color="#000"
        type="ball-clip-rotate"
      ></ngx-spinner>
    </ng-template>
  </div>
  <div class="issues">
    <ng-template #loaded>
      <div *ngIf="issues.length > 0 && !apiError; then issuesList; else noIssues"></div>
      <ng-template #issuesList>
        <span *ngFor="let issue of issues">
          <div class="item">
            <div class="titleContainer">
              <h3 class="title">{{ issue.title }}</h3>
              <img
                class="icon"
                title="Issue comment"
                src="assets/svg/info.svg"
                (click)="toggleCommentView(issue.id)"
              />
              <span class="created">{{ issue.created }}</span>
              <img
                class="icon"
                title="Edit issue"
                src="assets/svg/pencil.svg"
                (click)="handleToEdit(issue.id)"
              />
              <img
                class="icon"
                title="Delete issue"
                src="assets/svg/trashcan.svg"
                (click)="handleDelete(issue.id)"
              />
              <img
                class="check"
                title="Completed"
                *ngIf="issue.isCompleted"
                src="assets/svg/check.svg"
              />
            </div>
            <div
              *ngIf="commentView[issue.id]; then showComment; else hideComment"
            ></div>
            <ng-template #showComment>
              <p class="comment" [ngStyle]="{ borderColor: issue.color }">
                {{ issue.comment }}
              </p>
            </ng-template>
            <ng-template #hideComment>
              <p class="spacer" [ngStyle]="{ borderColor: issue.color }"></p>
            </ng-template>
          </div>
        </span>
      </ng-template>
      <ng-template #noIssues>
        <div>
          <div *ngIf="!apiError; then addNewIssues else apiErrorTemplate"></div>
          <ng-template class="noIssues" #apiErrorTemplate>{{
            apiErrorString
          }}</ng-template>
          <ng-template class="noIssues" #addNewIssues>
            No issues to show. Add a new one!
          </ng-template>
        </div>
      </ng-template>
    </ng-template>
  </div>
</div>
