@import "node_modules/ngx-toastr/toastr.css";

body {
  background-color: lightgrey;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: #000;
  color: white;
  border-radius: 12px;
  border-color: white;
  width: 100px;
  height: 30px;
  margin: 2px 10px;
  cursor: pointer;
}

button:active {
  background-color: rgba(0, 0, 0, 0.79);
  transform: translateY(4px);
}

button:hover {
  background-color: rgba(0, 0, 0, 0.79);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  background-color: white;
  width: 50%;
  margin: 20px 20px 25% 25%;
  border: 3px solid #555;
  border-radius: 12px;
  padding: 10px;
}